@use 'sass:map';
@use '@angular/material' as mat;

$_palettes: (
  primary: (
    0: #000000,
    10: #331200,
    20: #532200,
    25: #642b00,
    30: #753403,
    35: #843f0f,
    40: #934b1b,
    50: #b16331,
    60: #d07b47,
    70: #f0955f,
    80: #ffb68d,
    90: #ffdbc9,
    95: #ffede5,
    98: #fff8f6,
    99: #fffbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #2d131b,
    20: #452830,
    25: #52333b,
    30: #5e3e46,
    35: #6b4952,
    40: #78555d,
    50: #936d76,
    60: #ae868f,
    70: #cba0aa,
    80: #e8bbc5,
    90: #ffd9e1,
    95: #ffecef,
    98: #fff8f8,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #271900,
    20: #412d00,
    25: #4f3700,
    30: #5c4205,
    35: #694e12,
    40: #775a1d,
    50: #927234,
    60: #ae8c4a,
    70: #caa662,
    80: #e8c17a,
    90: #ffdea5,
    95: #ffefd7,
    98: #fff8f3,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #201b18,
    20: #352f2c,
    25: #403a37,
    30: #4c4542,
    35: #58514d,
    40: #645d59,
    50: #7e7571,
    60: #988f8a,
    70: #b3a9a5,
    80: #cfc4bf,
    90: #ebe0db,
    95: #faeee9,
    98: #fff8f5,
    99: #fffbff,
    100: #ffffff,
    4: #120d0b,
    6: #171210,
    12: #241f1b,
    17: #2e2926,
    22: #3a3430,
    24: #3e3834,
    87: #e3d8d3,
    92: #f1e6e1,
    94: #f7ece6,
    96: #fdf1ec,
  ),
  neutral-variant: (
    0: #000000,
    10: #261911,
    20: #3c2d25,
    25: #483830,
    30: #54433a,
    35: #604f46,
    40: #6d5b51,
    50: #877369,
    60: #a28c82,
    70: #bda79b,
    80: #dac2b6,
    90: #f7ddd1,
    95: #ffede5,
    98: #fff8f6,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410004,
    20: #67040c,
    25: #771215,
    30: #871f1f,
    35: #982b29,
    40: #a83734,
    50: #c94f4a,
    60: #ea6761,
    70: #ff8981,
    80: #ffb3ad,
    90: #ffdad7,
    95: #ffedeb,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);
